<title>
    {{ title }} | DHAMPIRAVE
</title>
<meta charset="UTF-8">
<meta content="width=device-width,initial-scale=1" name="viewport">
<link href="images/censor.webp" rel="shortcut icon">
<link href="style.css" rel="stylesheet" media="all">