<title>
    {{ title }} | DHAMPIRAVE
</title>
<meta charset="UTF-8">
<meta content="width=device-width,initial-scale=1" name="viewport">
<link href="images/decor/censor.webp" rel="shortcut icon">
<link href="style.css" rel="stylesheet" media="all">
<link href="extras.css" rel="stylesheet" media="all">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://u.widget.st/ar.js"></script>